html{
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: 'Fira Sans';
    font-weight: 200;
    font-size: 12pt;
    color:#fafafa;
}
/*----COMMON------*/

/*----SPECIAL-STYLES----*/
*{
    box-sizing: border-box;
}

ul.list-unstyled{
    list-style-type: none;
}
.total-hide{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.user-select-none *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/*-----ELEMENTS-----*/
.body{
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 270px;
    background: url(../images/background_additional_second_blur-min.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container-single{
    width: 100%;
    text-align: center;
    padding: 35px 0px;
}
/*-----HEADER SECTION-----*/
#userpic{
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.35);
    opacity: 0.95;
}
.header-section .name-job-wrap{
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
    text-align: left;
    padding: 0px 15px;
}
.name-job-wrap .job{
    text-transform: uppercase;
}
.header-section > hr{
    margin: 15px auto;
    color: #fafafa;
    border: none;
    border-top: 1px solid;
    max-width: 50%;
}
/*------GALLERY SECTION------*/
.gallery-section .gallery-item{
    cursor: pointer;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    position: relative;
    margin: 15px;
    width: 400px;
    height: 266px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    outline: 5px solid rgba(255,255,255,0.45);
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
.gallery-section .gallery-item:hover{
    opacity: 1;

}
.gallery-item .description-wrap{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    color: #232323;
    background: rgba(255,255,255,0.90);
    height: 100%;
    opacity:0;
    transition: opacity 0.35s ease-in-out;
}
.gallery-item:hover .description-wrap{
    opacity:1;
}
.description-wrap .description{
    display: block;
    padding: 10px 15px;

    font-weight: 100;
    line-height: 18px;
    text-align: justify;
}
.description-wrap.description-dark{
    color: #fafafa;
    background: rgba(0,0,0,0.85);
}
/*.gallery-item span{
    color: #232323;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
    background: rgba(255,255,255,0.75);
    width: 100%;
    padding: 10px 15px;
    display: block;
    position: absolute;
    bottom: 0px;
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}
.gallery-item:hover span{
    opacity:1;
}*/
/*.gallery-section .gallery-item:nth-child(3) span{
    color: #fafafa;
    font-weight: 300;
    background: rgba(0,0,0,0.70);
}*/



.gallery-section .gallery-item:nth-child(1){
    background-image: url(../images/gallery/preview_3-min.jpg);
}
.gallery-section .gallery-item:nth-child(2){
    background-image: url(../images/gallery/preview_1-min.jpg);
}
.gallery-section .gallery-item:nth-child(3){
    background-image: url(../images/gallery/preview_2-min.jpg);
}
/*------GRIDS------*/
@media screen and (max-width: 480px){
    .gallery-section .gallery-item{
       width: 85%;
       height: 210px;
    }
}
 @media screen and (max-width: 767px){
     .header-section > .name-job-wrap{
         display: block;
         font-size: 25px;
         text-align: center;
     }
 }
 @media screen and (min-width: 768px) {
     .header-section > .name-job-wrap{
         font-size: 35px;
     }
    .header-section > hr{
        max-width: 415px;
    }
}
 @media screen and (min-width: 1024px) {
    .header-section > .name-job-wrap{
        font-size: 45px;
    }
    .header-section > hr{
        max-width: 450px;
    }
}
/*------FLEX-CLASSES------*/
.flex-content-center{
    align-items: center;
    align-content: center;

    -ms-align-items: center;
    -ms-align-content: center;

    -webkit-align-items: center;
    -webkit-align-content: center;
}
