@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-ExtraLight.eot');
    src: local('Fira Sans ExtraLight'),
    url('eot/FiraSans-ExtraLight.eot') format('embedded-opentype'),
    url('ttf/FiraSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
    url('eot/FiraSans-Light.eot') format('embedded-opentype'),
    url('ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
    url('eot/FiraSans-Regular.eot') format('embedded-opentype'),
    url('ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
    url('eot/FiraSans-Medium.eot') format('embedded-opentype'),
    url('ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
    url('eot/FiraSans-Regular.eot') format('embedded-opentype'),
    url('ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}