html{
    height: 100%;
    background-color: #151a33;
    background: url('background-min.jpg') no-repeat center center fixed;
    background-size: cover;

    overflow: hidden;

    font-family: 'Vollkorn SC', 'Cormorant SC', 'Amatic SC', cursive;

    font-size: 22px;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    overflow: hidden;
}

h2{
    margin-top: 0;
    margin-bottom: 10px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 130%;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px; /* 1px wider than Lion. */
    background-color: rgba(255, 187, 0, 0.1);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(255, 187, 0, 0.2);
}

::-webkit-scrollbar-thumb {

    background: rgba(136, 72, 0, 0.3);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(136, 72, 0, 0.4);
    -webkit-border-radius: 100px;
}

.envelope{
    position: relative;
    display: flex;

    background-color: #d8dee6;
    background: url(letter.png), linear-gradient(to bottom, #eaf0f9 0%,#86919e 100%);
    width: 520px;
    height: 320px;
    
    margin: 0 auto;
    margin-top: calc(50vh - 160px);
    right: 0;
    left: 0;
    
    perspective-origin: 50% 50%;
}

.envelope.no-background{
    top:0;
    position: absolute;
    background: none;
}

.envelope .front-side{
    position: absolute;
    width: 100px;

    border: 210px solid #f3f5f9;
    border-bottom: 160px solid #e6edf5;
    border-top: 160px solid transparent;

    z-index: 1;
}

.envelope .top-cover{
    position: absolute;

    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 208px solid transparent;
    border-top-color: #fbfbfb;
    margin: 0 auto;
    transform: scale(1.25, 1);
    transform-origin: 50% 0;

    z-index: 2;
}

.letter{
    position: absolute;

    flex-grow: 12;
    margin: 5px;

    width: 510px;
    min-width: 470px;
    max-width: 720px;
    height: 300px;
    margin: 0 auto;
    margin-top: calc(50vh - 155px);
    right: 0;
    left: 0;
    top: 0;

    transform-origin: top center;

    background: linear-gradient(to bottom, #F1E1D4 0%,#EADCCF 100%);
    box-shadow: 0px 12px 30px -13px rgba(0,0,0,0.75);
}

.text-decorator{
    display: block;
    height: 66px;
    margin-bottom: 10px;
    width: 100%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(text-decorator.png);
    transform: rotate(180deg);
}

.letter .letter-text{
    min-height: calc(100% - 30px);
    padding: 15px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 177, 103, 0.25) 0%, rgba(150, 67, 0, 0.25) 100%);

    line-height: 35px;

    display: flex;
    align-items: center;
}
.letter .letter-text.text-smaller{
    font-size: 90%;
    line-height: 140%;
}

.letter .letter-first-part, .letter .letter-second-part{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    /* color:#0E0D0B; */
    color: rgba(2, 37, 0, 0.9);

    overflow-y: auto;

    background: url("paper-3.png");
}

.letter .letter-second-part{
    top:100%;

    flex-grow: 1;

    background: url("paper-3.png");

    transform: rotateX(180deg);
    

    transform-origin: top center;

    color: transparent;

    box-shadow: 0px 15px 30px -13px rgba(0,0,0,0.55);
}

.plural{
    display: none;
}

.envelope .wax-stamp{
    background: url("wax-stamp.png");
    background-size: 132px 250px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-top: 60px;
    padding-left: 20px;
    position: absolute;
    left: 0;
    transform: rotateZ(10deg);
}

.animate .envelope{
    animation: envelope 2s ease forwards 1 0.2s;
}

.animate .envelope .top-cover{
    animation: top-cover 1s ease forwards 1 0.2s;
}
.animate .envelope.no-background .top-cover{
    animation: top-cover-2 1s ease forwards 1 0.2s;
}

.animate .letter{
    animation: letter 2s ease forwards 1 1.1s;
}

.animate .letter .letter-second-part{
    animation: letter-second-part 1.5s ease forwards 1 1.2s;
}

.animate .envelope .wax-stamp{
    animation: wax-stamp 1s ease forwards 1 1.2s;
}


.reverse .envelope{
    transform: perspective(900px) rotateX(-10deg) translateY(35vh);

    animation: envelope-r 2s ease forwards 1 1.6s;
}

.reverse .envelope .top-cover{
    transform: rotateX(-180deg) scale(1.25,1);
    z-index: 0;

    animation: top-cover-r 1s ease forwards 1 2.6s;
}

.reverse .envelope.no-background .top-cover{
    animation: top-cover-2-r 1s ease forwards 1 2.6s;
    opacity: 0;
}

.reverse .letter{
    margin-top: 5vh;
    height: 45vh;
    width: 85vw;
    z-index: 2;
    transform: perspective(900px) rotateX(-5deg);

    animation: letter-r 1s ease forwards 1 1.6s;
   
}

.reverse .letter .letter-second-part{
    transform: perspective(900px) rotateX(20deg);
    /* color:#0E0D0B; */
    color: rgba(2, 37, 0, 0.9);
  
    animation: letter-second-part-r 1.5s ease forwards 1 0.1s;
}

.reverse .letter .letter-second-part .suggestions-list .color-circle{
    opacity: 0;
    transition: opacity ease 1s;
}

.reverse .envelope .wax-stamp{
    z-index: 1;

    animation: wax-stamp-r 1s ease forwards 1 0.1s;
  
}


@keyframes top-cover {
99% {
    transform: rotateX(-180deg) scale(1.25,1);
    z-index: 3;
    }
100% {
    transform: rotateX(-180deg) scale(1.25,1);
    z-index: 0;
    }
}
@keyframes top-cover-2 {
    99% {
        transform: rotateX(-180deg) scale(1.25,1);
        opacity: 0;
        }
    100% {
        transform: rotateX(-180deg) scale(1.25,1);
        opacity: 0;
        }
    }
@keyframes top-cover-r {
    0%{
        transform: rotateX(-180deg) scale(1.25,1);
        z-index: 0;
    }
    99% {
        transform: rotateX(0) scale(1.25,1);
        z-index: 2;
        }
    100% {
        transform: rotateX(0) scale(1.25,1);
        z-index: 2;
        }
    }

@keyframes top-cover-2-r {
    0%{
        transform: rotateX(-180deg) scale(1.25,1);
        z-index: 0;
        opacity: 1;
    }
    99% {
        transform: rotateX(0) scale(1.25,1);
        z-index: 2;
        opacity: 1;
        }
    100% {
        transform: rotateX(0) scale(1.25,1);
        z-index: 2;
        opacity: 1;
        }
    }

@keyframes envelope {
    50% {
        transform: perspective(900px) rotateX(-10deg);
        }
    
    100% {
        transform: perspective(900px) rotateX(-10deg) translateY(35vh);
        }
    }
@keyframes envelope-r {
    50% {
        transform: perspective(0) rotateX(0);
        }
    
    100% {
        transform: perspective(0) rotateX(0) translateY(0);
        }
    }


@keyframes letter {
    0% {
        margin-top: calc(50vh - 155px);
        }
    50% {
        margin-top: 2.5vh;
        height: 22.5vh;
        width: 45vw;
        z-index: 1;
        transform: perspective(900px) rotateX(-2.5deg);
        }
    100% {
        margin-top: 5vh;
        height: 45vh;
        width: 85vw;
        z-index: 2;
        transform: perspective(900px) rotateX(-5deg);
        }
    }
@keyframes letter-r {
    0% {
        height: 45vh;
        width: 85vw;
        
        z-index: 0;
        margin-top: calc(50vh / 4 - 155px  / 4);
        }
    50% {
        height: 22.5vh;
        width: 45vw;
        
        z-index: 0;
        margin-top: calc(50vh / 2 - 155px / 2);
        }
    100% {
        height: 22.5vh;
        width: 45vw;
        z-index: 0;

        transform: translateY(0);
        margin-top: calc(50vh - 155px);
        }
    }

@keyframes letter-second-part {
    0%{
        transform: perspective(900px) rotateX(180deg);
        color:transparent;
    }
    50%{
        transform: perspective(1500px) rotateX(90deg);
        color:transparent;
    }
    100% {
        transform: perspective(900px) rotateX(10deg);
        /* color:#0E0D0B; */
        color: rgba(2, 37, 0, 0.9);
        }
    }
@keyframes letter-second-part-r {
    0%{
        transform: perspective(900px) rotateX(20deg);
        /* color:#0E0D0B; */
        color: rgba(2, 37, 0, 0.9);
    }
    50%{
        transform: perspective(1500px) rotateX(90deg);
        color:transparent;
    }
    100% {
        transform: perspective(900px) rotateX(180deg);
        color:transparent;
        }
    }

@keyframes wax-stamp {
    100% {
        z-index: 1;
    }
}
@keyframes wax-stamp-r {
    100% {
        z-index: 2;
    }
}

.suggestions-list{
    text-align: justify;
    padding-left: 25px;
}
.suggestions-list li{
    padding: 5px 0px;
}
.suggestions-list .color-circle{
    font-size: 80px;
    line-height: 18%;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.color-circle:nth-child(5){
    background-color: #8f796e;
}
.color-circle:nth-child(6){
    background-color: #d2abb6;
}
.color-circle:nth-child(7){
    background-color: #efeed8;
}
.color-circle:nth-child(8){
    background-color: #c4e5d6;
}
.color-circle:nth-child(9){
    background-color: #a5c0d0;
}

@media screen and (max-width: 767px){
    html{
        font-size: 15px;
    }

    .letter{
        width: 260px;
        min-width: 260px;
        height: 160px;
        margin-top: calc(50vh - 95px);
    }
    .reverse .letter{
        height: 45vh;
        width: 85vw;
    }

    .text-decorator{
        height: 45px;
        width: 250px;
        background-size: cover;
        margin: 0 auto;
        box-sizing: content-box;
    }

    .envelope{
        width: 300px;
        height: 200px;
        margin-top: calc(50vh - 100px);
    }
    .envelope .front-side{
        width: 100px;
        border: 100px solid #f3f5f9;
        border-bottom: 100px solid #e6edf5;
        border-top: 100px solid transparent;
    }
    .envelope .top-cover{
        border: 120px solid transparent;
        border-top-color: #fbfbfb;
        transform: scale(1.25, 1.25);
    }

    .envelope .wax-stamp{
        background-size: 112px 210px;
    }

    .suggestions-list .color-circle{
        width: 18px;
        height: 18px;
        margin-right: 2px;
    }

    @keyframes letter-r {
        0% {
            height: 45vh;
            width: 85vw;
            
            z-index: 0;
            margin-top: calc(50vh - 95px) / 4;
            }
        50% {
            height: 22.5vh;
            width: 45vw;
            
            z-index: 0;
            margin-top: calc(50vh - 95px) / 2;
            }
        100% {
            height: 22.5vh;
            width: 45vw;
            z-index: 0;
    
            transform: translateY(0);
            margin-top: calc(50vh - 95px);
            }
        }

    @keyframes top-cover-r {
        0%{
            transform: rotateX(-180deg) scale(1.25,1.25);
            z-index: 0;
        }
        99% {
            transform: rotateX(0) scale(1.25, 1.25);
            z-index: 2;
            }
        100% {
            transform: rotateX(0) scale(1.25, 1.25);
            z-index: 2;
            }
        }
    
    @keyframes top-cover-2-r {
        0%{
            transform: rotateX(-180deg) scale(1.25, 1.25);
            z-index: 0;
            opacity: 1;
        }
        99% {
            transform: rotateX(0) scale(1.25, 1.25);
            z-index: 2;
            opacity: 1;
            }
        100% {
            transform: rotateX(0) scale(1.25, 1.25);
            z-index: 2;
            opacity: 1;
            }
        }
}

@media screen and (max-width: 414px){
    .reverse .letter{
        height: calc(50vh - 10px);
        width: 98vw;
    }
    @keyframes letter {
        0% {
            margin-top: calc(50vh - 155px);
            }
        50% {
            margin-top: 12.5px;
            height: 25vh;
            width: 55vw;
            z-index: 1;
            transform: perspective(900px) rotateX(-2.5deg);
            }
        100% {
            margin-top: 25px;
            height: calc(50vh - 10px);
            width: 98vw;
            z-index: 2;
            transform: perspective(900px) rotateX(-5deg);
            }
        }

    @keyframes letter-r {
        0% {
            margin-top: 25px;
            height: calc(50vh - 10px);
            width: 98vw;
            
            z-index: 0;            }
        50% {
            margin-top: 12.5px;
            height: 25vh;
            width: 55vw;
            
            z-index: 0;
            }
        100% {
            height: 22.5vh;
            width: 45vw;
            z-index: 0;
    
            transform: translateY(0);
            margin-top: calc(50vh - 95px);
            }
        }
}